*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,body{
    font-size: 62.5%;
    font-family: 'Pathway Extreme', sans-serif;
    text-rendering: optimizeLegibility;
    background-color: #e3effc;
}

header{
    height: 13rem;
    width: 100%;
    background-color: #01142e;
    display: flex;
    align-items: center;
    gap: 20rem;
}

label{
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    align-items: center ;
}

p{
    font-size: 3rem;
    text-align: center;
}

#plataforma{
    width: 30rem;
    height: 5rem;
    margin-top: 15px;
    border: solid 2px indigo;
    border-radius: 20rem;
    box-shadow: 1px 1px 1px 1px rgba(76, 0, 130, 0.775);
    text-align: center;
}

#curiosidades{
    width: 30rem;
    height: 5rem;
    margin-top: 15px;
    border: solid 2px indigo;
    border-radius: 20rem;
    box-shadow: 1px 1px 1px 1px rgba(76, 0, 130, 0.775);
    text-align: center;
}

.titulo{
    font-size: 4rem;
    margin-top: 3.5rem;
    color:#01142e;
}

section{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center
}

section img{
    border-radius: 3rem;
}

nav > a{   
    color:#fff;
    text-decoration: none;
    font-size: 4rem;
    padding: 2rem;
}

nav > a:hover{
    color:#4F4F4F;
    font-size: 4rem;
}

figure img{
    border-radius: 100%;
    margin-left: 30px;
}